.dateTimePicker {
  width: 50% !important;
}

.backButton {
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  margin-right: 15px;
}

.backButton:focus {
  outline:0;
}

.buttonsBottom {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.eventsTitle {
  font-size: 40px;
  font-family: Roboto;
  font-weight: 200;
  // width: 33.33%;
  display: inline-block;
  text-align: right;
}
