.big-date {
  color: rgba(0,0,0,0.85);
  font-size: 36px;
  font-weight: 500;
}

.blackFont {
  color: black;
  font-size: 16px;
}

.big-header {
  color: rgba(0,0,0,0.85);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.big-month {
  color: rgba(0,0,0,0.65);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 5px;
}

.event-details {
  color: rgba(0,0,0,0.85);
  font-size: 18px;
  font-weight: 300;
}

.event-details-red {
  color: #E02020;
  font-size: 18px;
  font-weight: 300;
}

.event-date {
  color: rgba(0,0,0,0.85);
  font-size: 14px;
  font-weight: 500;
  margin-top: 16px;
}

.event-location {
  color: rgba(0,0,0,0.85);
  font-size: 14px;
  font-weight: 300;
}

.image {
  margin-top: 56px;
  object-fit: cover;
  width: 100%;
}

.event-view-card-info {
  margin-top: 56px;
  padding-left: 35px;
  padding-right: 35px;
}

.event-sub-card-info {
  margin-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
}

.event-sub-card-left-info {
  margin-top: 35px;
}

.event-sub-card-pic {
  color: black;
  font-size: 16px;
  font-weight: 300;
}

.event-sub-card-header {
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.wrap-details {
  margin-top: 20%;
  padding-bottom: 20%;
}

.gutter {
  height: 21px;
}

.submit {
  margin-top: 11px;
  width: 100%;
}
