.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .layout-header {
    height: 80px;
    position: fixed;
    z-index: 1;
    width: 100%;
    min-width: 1200px;
    display: flex;
    align-items: center;
    padding: 0 120px;
    // background-color: #1890ff;
    color: #fff;
    box-sizing: border-box;

    .logo {
      margin: 0;
      flex: 1;
      color: #fff;
      font-size: 32px;
    }

    .user {
      line-height: 30px;
      cursor: pointer;
      font-size: 16px;
    }
  }

  .layout-content {
    flex: 1;
    padding-top: 80px;
    padding: 80px 120px;
  }

  .layout-footer {
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
  }
}
